@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-bl-7xl{
border-bottom-left-radius: 48px;
}
input:hover, button:hover, .mortgage_type:hover label,.mortgage_type:hover div{
    cursor: pointer;
}

/* npx tailwindcss -i ./styles/styles.css -o ./dist/style.css --watch */